<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><strong>Victor Frye</strong></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true">
                    <FluentIcon class="bi bi-icon-nav-bar" Value="@(new Icons.Filled.Size20.Home())" Color="@Color.Fill"/> Home
                </span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span aria-hidden="true">
                    <FluentIcon class="bi bi-icon-nav-bar" Value="@(new Icons.Filled.Size20.Person())" Color="@Color.Fill"/> About
                </span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span aria-hidden="true">
                    <FluentIcon class="bi bi-icon-nav-bar" Value="@(new Icons.Filled.Size20.Briefcase())" Color="@Color.Fill"/> Projects
                </span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span aria-hidden="true">
                    <FluentIcon class="bi bi-icon-nav-bar" Value="@(new Icons.Filled.Size20.ContactCard())" Color="@Color.Fill"/> Contact
                </span>
            </NavLink>
        </div>
    </nav>
</div>

